
    <mat-toolbar class="navbar">
      <button mat-button routerLink="/">
        GigHub
      </button>
      <span class="example-spacer"></span>


      <!-- SIGNED USER -->
      <i class="bi position-relative" 
        [ngClass]="valueB ? 'bi-bell ': 'bi-bell-fill'" 
        (mouseover)="valueB=false" 
        (mouseout)="valueB=true" 
      >
        <span class="position-absolute mt-1  top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
              style="width:1px"
        ></span>
      </i>
      <i class="bi position-relative" 
        [ngClass]="valueE ? 'bi-envelope ': 'bi-envelope-fill'" 
        (mouseover)="valueE=false" 
        (mouseout)="valueE=true" 
      >
        <span class="position-absolute mt-1  top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
              style="width:1px"
        ></span>
      </i>
      <i class="bi"
        [ngClass]="value ? 'bi-heart ': 'bi-heart-fill'" 
        (mouseover)="value=false" 
        (mouseout)="value=true" 
      ></i>
      <a routerLink="">Orders</a>
      <a routerLink="">Switch to Selling</a>
     
      <img src="../../../assets/pics/profilepic.jpeg" class="profilepic" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu" class="menu">
        <div class="p-3 divide-y divide-solid">
          <div class="pb-1 flex justify-between">
            <a routerLink="/account/profile" class="a">Profile</a>
          </div>
          <mat-divider class="pb-2"></mat-divider>
          <div class="pb-1 flex justify-between">
          <a routerLink="/" class="a">Settings</a> <br>
          <a routerLink="/" class="a">Billing</a></div>
          <mat-divider class="pt-2"></mat-divider>
          <a routerLink="/" class="a">Log out</a>
        </div>
      </mat-menu>


      <!-- UNSIGNED USER -->
      <a (click)="openDialogSingIn()"> Sign in</a>
      <button mat-stroked-button class="btn" (click)="openDialogSingUp()">Join</button>

    </mat-toolbar>
    

