
    <mat-toolbar class="navbar">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     
      </button>
      <span>Fiverr</span>
      <span class="example-spacer"></span>

      <i class="bi bi-bell" ></i>
      <i class="bi bi-envelope" ></i>
      <i class="bi" [ngClass]="value ? 'bi-heart ': 'bi-heart-fill'" (mouseover)="value=false" (mouseout)="value=true" ></i>
      <a routerLink=""  onclick='fill()'>Orders</a>
      <a routerLink="">Switch to Selling</a>
     
      <img src="../../../assets/pics/profilepic.jpeg" class="profilepic" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu" class="menu">
        <div class="p-3 divide-y divide-solid">
          <div class="pb-1 flex justify-between">
            <a routerLink="/account/profile" class="a">Profile</a>
          </div>
          <mat-divider class="pb-2"></mat-divider>
          <div class="pb-1 flex justify-between">
          <a routerLink="/" class="a">Settings</a> <br>
          <a routerLink="/" class="a">Billing</a></div>
          <mat-divider class="pt-2"></mat-divider>
          <a routerLink="/" class="a">Log out</a>
        </div>
      </mat-menu>


      <!-- <a (click)="openDialogSingIn()"> Sign in</a>
      <button mat-stroked-button class="btn" (click)="openDialogSingUp()">Join</button> -->
      
    </mat-toolbar>

    