
    <mat-toolbar class="navbar" >
      <button mat-button routerLink="/">
        GigHub
      </button>
      <span class="example-spacer"></span>


      <!-- SIGNED USER -->
      <i 
        matTooltip="Notification"
        class="bi position-relative" 
        *ngIf="isAuth"
        [ngClass]="valueB ? 'bi-bell ': 'bi-bell-fill'" 
        (mouseover)="valueB=false" 
        (mouseout)="valueB=true" 
      >
        <span class="position-absolute mt-1  top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
              style="width:1px"
        ></span>
      </i>
      <i 
        matTooltip="Messages"
        class="bi position-relative"
        *ngIf="isAuth" 
        [ngClass]="valueE ? 'bi-envelope ': 'bi-envelope-fill'" 
        (mouseover)="valueE=false" 
        (mouseout)="valueE=true" 
      >
        <span class="position-absolute mt-1  top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
              style="width:1px"
        ></span>
      </i>
      <i 
      matTooltip="wishlist"
        *ngIf="isAuth"class="bi"
        [ngClass]="value ? 'bi-heart ': 'bi-heart-fill'" 
        (mouseover)="value=false" 
        (mouseout)="value=true" 
        routerLink="/account/wishlist"
      ></i>
      <a routerLink="" *ngIf="isAuth" >Orders</a>
     
      <img src="../../../assets/pics/profilepic.jpeg" class="profilepic" [matMenuTriggerFor]="menu" *ngIf="isAuth">
      <mat-menu #menu="matMenu" class="menu">
        <div class="p-3 divide-y divide-solid " style="width: 250px;" >
          <div class="pb-1 flex justify-between">
            <a routerLink="/account/profile" class="a" mat-menu-item>Profile</a>
          </div>
          <mat-divider class="pb-2"></mat-divider>
          <div class="pb-1 flex justify-between">
          <a routerLink="/" class="a" mat-menu-item>Settings</a>
          <a routerLink="/account/dashboard" class="a" mat-menu-item>Dashboard</a> 
          <a routerLink="/" class="a" mat-menu-item>Billing</a></div>
          <mat-divider class="pt-2"></mat-divider>
          <a routerLink="/" class="a" (click)="logOut()" mat-menu-item>Log out</a>
        </div>
      </mat-menu>


      <!-- UNSIGNED USER -->
      <a (click)="openDialogSingIn()" *ngIf="!isAuth"> Sign in</a>
      <button mat-stroked-button class="btn" (click)="openDialogSingUp()" *ngIf="!isAuth" >Join</button>

    </mat-toolbar>
    

