
<div mat-dialog-title style="text-align: center;"> Sign In </div>

<form [formGroup]="empForm" (ngSubmit)="setDataSubmit()">
    <div mat-dialog-content class="content" >
                    

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Enter Your Email" formControlName="email">
      </mat-form-field>
   
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input  type="password" matInput placeholder="Enter Your Password" formControlName="password">
      </mat-form-field>


   </div>
   
   <div mat-dialog-actions class="action">
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit" >Sign In</button>
   </div>

   <hr>
   <div>
      <p style="text-align: center;">   Not a member yet? 
        <a 
        (click)="openDialogSingUp()" 
        [mat-dialog-close]="false" 
        style="margin-right: 20px;font-size: 16px; color: #5f5f5f;"
        >Join now</a></p>
   </div>



   
</form>