.card{
    margin:10px auto;
    width: 70%;
    .div{
        display: inline;
        
    }
}

.card-body{
    img{
        width: 200px;
        border-radius: 100%;
        margin-bottom: 10px;
    }
    .card-title{
        margin-right: 15px;
    }
    .bi{
        margin-right: 10px;
    }
    a{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #5f5f5f;
      }
      .add-form{
        width: fit-content;
       
      }
      .mat-mdc-form-field-infix {
        width: 1000px;
    }
}




