.card-body{
    img{
        width: 200px;
        border-radius: 100%;
        margin-bottom: 10px;
    }
    .card-title{
        margin-right: 15px;
    }
    .bi{
        margin-right: 10px;
    }
    
}