.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .example-full-width {
    width: 100%;
  }


  .row_form{
    display: flex;
    gap: 10px;
 }

 .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.example-form mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

mat-form-field {
  margin-right: 12px;
}