
<body>
  <h1 class="quote"> Find the right freelance service, right away</h1>
  <img src="../../assets/pics/homepage.jpg" style="width:100%;height:100%">
  <img src="../../assets/pics/trustedBy.jpeg" style="width:100%;margin-bottom:130px">
  
  <div class="row">
    <div class="col-1"></div>
    <div class="col-9">
      <h2>Popular Services</h2>
      
      <div class="row container marketing">
        <div class="col-2"></div>
        <div class="col-lg-3">
          <img src="../../assets/pics/Logo_design.webp" style="width: 150px; border-radius:50%;height: 150px;" class="my-3">
          <h2 class="fw-normal mb-3">Logo Design</h2>
          <p><a class="btn btn-outline-primary mx-3" routerLink="/account/sub/6466a74a9243eff77d5af75f">Browse &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <img src="../../assets/pics/Website Development.webp" style="width: 150px; border-radius:50%;height: 150px;" class="my-3">
          <h2 class="fw-normal" >Website Development</h2>
          <p><a class="btn btn-outline-primary mx-3" href="/account/sub/6466a74a9243eff77d5af75f">Browse &raquo;</a></p>        
        </div>
        <div class="col-lg-3">
          <img src="../../assets/pics/Social.webp" style="width: 150px; border-radius:50%;height: 150px;" class="my-3">
          <h2 class="fw-normal">Social Marketing</h2>
          <p><a class="btn btn-outline-primary mx-3" href="/account/sub/6466a74a9243eff77d5af75f">Browse &raquo;</a></p>        
        </div>
      </div>
    </div>
</div>


  
</body>


  